---
import Button from '../components/Button.astro';
import Select from '../components/Select.astro';
import Input from '../components/Input.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Financial App">
	<h1 class="font-medium text-center mb-4 mt-5">Create</h1>
	<form class="flex flex-col gap-4 flex-grow h-full" id="registerForm" novalidate>
		<Select label='Type' name='typeRegister' />
		<Input label="Mount" type='number' name="income"/>
		<Input label="Description" type='text' name="description"/>
		<Button title='Save' color='primary' name='btn-save'/>
	</form>
</Layout>

<script>
	const registerForm = document.getElementById('registerForm');
	if (registerForm) {
		registerForm.addEventListener('submit', async (event) => {
			event.preventDefault(); // Evita el envío del formulario por defecto

			const form = event.target as HTMLFormElement;
			const formData = new FormData(form);

			const data = {
				amount: formData.get('income'),
				description: formData.get('description')?.toString().trim(),
				user_id: '1'
			};

			// Aquí puedes enviar los datos a tu servidor o procesarlos como necesites

			if (!data.amount || !data.description) {
				alert('Por favor, completa todos los campos');
				return;
			}

			if (Number(data.amount) <= 0) {
				alert('El monto debe ser mayor a 0');
				return;
			}

			const URL = ()=>{
				switch(formData.get('typeRegister')){
					case '1':
						return '/api/incomes';
					case '2':
						return '/api/expenses';
					default:
						return '/api/incomes';
				}
			};

			// Ejemplo de envío de datos a un servidor

			const button = document.getElementById('btn-save') as HTMLButtonElement;
			button.disabled = true;
			try {
				const response = await fetch(`${URL()}`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				});
				await response.json();
				button.disabled = false;
				form.reset();
				alert('Success!');
			} catch (error) {
				button.disabled = false;
				console.error('Error al enviar los datos:', error);
				alert('Ups, something went wrong');
			}
		});
	}
</script>