---
interface Props {
	title: string;
}

import { db, Goals } from "astro:db";
import Navbar from "../components/Navbar.astro";
import { calcDayli } from "../common/utils/calcDayli.util";

const { title } = Astro.props;

const goal = await db.select().from(Goals);
console.log(goal);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar goal={calcDayli()} missing={0} />
		<main class="w-full py-3 px-3 min-h-screen flex flex-col">
			<slot />
		</main>
	</body>
</html>
