---
interface Props {
	title: string;
}

import Navbar from "../components/Navbar.astro";
import { calcDayli } from "../common/utils/calcDayli.util";
import { calcMissedDay } from "../common/utils/calcMissed.util";

const { title } = Astro.props;

const calcMissDay = await calcMissedDay();
const calcDay = await calcDayli();

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar goal={calcDay} missing={calcMissDay} />
		<main class="w-full py-3 px-3 min-h-screen flex flex-col">
			<slot />
		</main>
	</body>
</html>
